<p-card [styleClass]="'w-140! border-none! bg-transparent! shadow-none! '">
  <ng-template #header>
    <img class="h-75 w-auto" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" alt="">
  </ng-template>

  <ng-template #title> <h2 class="pt-3">Card de teste</h2> </ng-template>

  <ng-template #content>
    <p class="opacity-50">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
    </p>
  </ng-template>
</p-card>

