<p-card [styleClass]="'w-160! border-none! bg-transparent! shadow-none! flex! flex-row!'">
  <ng-template #content>
    <div class="flex flex-row gap-4">
      <img class="w-80 h-30" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" alt="">

      <div class="flex flex-col">
        <h2 class="text-xs opacity-50">July, 02, 2025</h2>
        <p class="text-xl font-medium">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae.
        </p>
      </div>

    </div>
  </ng-template>
</p-card>

