<app-divider/>
<app-menu-title></app-menu-title>
<app-divider/>

<div class="container flex flex-col items-center md:items-start md:flex-row mx-auto my-10 gap-8">
  <app-big-card
    Id="1"
    photoCover="https://primefaces.org/cdn/primeng/images/card-ng.jpg "
    cardTitle="Card de teste"
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
    numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!"
  />

  <div class="flex flex-col gap-6">
    <app-small-card
      Id="2"
      photoCover="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
      cardDate="01/01/2023"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
    />
    <app-divider/>


    <app-small-card
      Id="3"
      photoCover="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
      cardDate="01/01/2023"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
    />
    <app-divider/>

    <app-small-card
      Id="4"
      photoCover="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
      cardDate="01/01/2023"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
    />
  </div>

</div>
