<div class="container mx-auto pt-6 pb-3">
  <p-menubar [model]="items" [styleClass]="'!border-none !rounded-none !shadow-none !bg-transparent'">
    <ng-template #start>
      <p-avatar [styleClass]="'!border-none !bg-transparent'">
        <img src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Logo">
      </p-avatar>
    </ng-template>

    <ng-template #item let-item let-root="root">
      <span class="px-3"> {{ item.label }}</span>
    </ng-template>

    <ng-template #end>
      <div class="flex items-center gap-6">
        <i class="pi pi-github"></i>
        <i class="pi pi-linkedin"></i>
        <i class="pi pi-instagram"></i>
      </div>
    </ng-template>
  </p-menubar>
</div>
